<div class="max-w-screen-md mx-auto">
  <h1 class="mt-10">
    ember-simplebar
  </h1>

  <div class="mt-10">
    <button type="button" class="m-2" {{on "click" (fn this.doToggleProperty "autoHide")}}>
      {{if this.autoHide "Disable autoHide" "Enable autoHide"}}
    </button>

    <button type="button" class="m-2" {{on "click" (fn this.doToggleProperty "forceVisible")}}>
      {{if this.forceVisible "Disable forceVisible" "Enable forceVisible"}}
    </button>
  </div>

  <div class="flex mt-10">
    <div class="flex items-center">
      <div class="mr-8">
        (autoHide) timeout:
      </div>

      <input
        class="p-2 w-10"
        type="number"
        value={{this.timeout}}
        {{on "change" (fn this.doSetNumberProperty "timeout")}}
      >
    </div>
    <div class="flex items-center">
      <div class="mx-8">
        scrollbarMinSize:
      </div>

      <input
        class="p-2 w-10"
        type="number"
        value={{this.scrollbarMinSize}}
        {{on "change" (fn this.doSetNumberProperty "scrollbarMinSize")}}
      >
    </div>
  </div>

  <div class="mt-10 bg-gray-200">
    <SimpleBar
      class="h-400 p-8 custom-track"
      @autoHide={{this.autoHide}}
      @timeout={{this.timeout}}
      @forceVisible={{this.forceVisible}}
      @scrollbarMinSize={{this.scrollbarMinSize}}
      as |simplebar|

    >
      <button type="button" {{on "click" (fn this.recalculate simplebar)}}>
        RECALCULATE
      </button>

      {{lipsum 150}}
    </SimpleBar>
  </div>
</div>
{{outlet}}